@namespace ZBlazor
@typeparam TItem
<div class="@($"zb-quick-input-container {ContainerClass} ")"
     style="@($"width:{Width};")">
    <input type="@InputType"
           value="@InputValue"
           class="@Class"
           @attributes="InputAttributes"
           @oninput="OnValueChange"
           @onkeydown="OnKeyDown"
           @onfocus="OnFocus"
           @onblur="OnBlur"
           @onmousedown="OnMouseDown"
           @onmouseup="OnMouseUp" />
    @if (InputAccessory != null)
    {
        @InputAccessory
    }
    @if (ShowClearButton)
    {
        <span class="zb-quick-input-clear-button"
              title="Clear value"
              style="@($"{(hasInputValue ? "" : "display: none;")}")"
              @onclick="@(async () => await ClearInputValue())"
              @onclick:stopPropagation="true"
              @onclick:preventDefault="true"
              @onmousedown:preventDefault="true"
              @onmousedown:stopPropagation="true"
              @onmouseup:preventDefault="true"
              @onmouseup:stopPropagation="true">
            <span class="zb-quick-input-clear-symbol">&times;</span>
        </span>
    }
    <div class="@($"zb-quick-input-items {(isOpen ? " zb-quick-input-items-open" :"")}")"
         style="@($"{(MaxItemsHeight != null ? $"style: {MaxItemsHeight}" : "")}")"
         @onmousedown="OnMouseDown"
         @onmouseup="OnMouseUp">
        <div class="zb-quick-input-items-scrollable">
            @foreach (var item in SearchItems.Where(i => i.IsSelected))
            {
                item.IsSelected = false;
            }

            @foreach (var item in SearchItems.Where(i => i.ShouldItemShow))
            {
                item.ShouldItemShow = false;
            }

            @if(hasInputValue && IsLoading)
            {
                <div class="zb-quick-input-item"
                     @onclick:preventDefault="true"
                     @onclick:stopPropagation="true"
                     @onmousedown:stopPropagation="true"
                     @onmousedown:preventDefault="true"
                     @onclick="@(() => isOpen = false)">
                    @if(LoadingView != null)
                    {
                        @LoadingView
                    }
                    else
                    {
                        <span>Loading...</span>
                    }
                </div>
            }
            else if (!IsFiltering && hasInputValue && SearchItems.All(i => !i.IsMatch))
            {
                <div class="zb-quick-input-item"
                     @onclick:preventDefault="true"
                     @onclick:stopPropagation="true"
                     @onmousedown:stopPropagation="true"
                     @onmousedown:preventDefault="true"
                     @onclick="@(() => isOpen = false)">
                    @if (NoResultsView != null)
                    {
                        @NoResultsView
                    }
                    else
                    {
                        <span>No items found</span>
                    }
                </div>
            }
            else if (!hasInputValue && NoInputView != null)
            {
                <div class="zb-quick-input-item"
                     @onclick:preventDefault="true"
                     @onclick:stopPropagation="true"
                     @onmousedown:preventDefault="true"
                     @onmousedown:stopPropagation="true"
                     @onclick="@(() => isOpen = false)">
                    @NoInputView
                </div>
            }
            else
            {
                int showingIndex = 0;

                foreach (var item in GetOrderedSearchItems())
                {
                    {
                        item.IsSelected = showingIndex == selectedItemIndex;
                    }

                    <div @key="item.Key"
                         class="@($"zb-quick-input-item {(showingIndex == selectedItemIndex ? "zb-quick-input-active" : "")}  {(item.LastHit != null ? "zb-quick-input-item-recent" : "")}")"
                         @onclick="@(async () => await OnSelected(item))">
                        @if (ItemTemplate != null)
                        {
                            @ItemTemplate(item)
                        }
                        else
                        {
                            @item.GetDisplayText(HighlightMatches, ShowOtherMatches)
                        }
                    </div>

                    {
                        showingIndex += 1;
                    }
                }
            }
        </div>
    </div>
</div>
