<QuickAutocomplete Data="Times"
            inputmode="numeric"
            TItem="TimeInputItem"
            placeholder="@Placeholder"
            TextField="Display"
            Value="PickerValue"
            ValueChanged="OnValueChange"
            OtherMatchFields="@(new[] { nameof(TimeInputItem.TwentyFourHourFormattedString) })"
            MaxItemsToShow="2"
            PrioritizePrimaryMatch="true"
            PrioritizeShorterValues="true"
            InputValueFilter="FilterInputValue"
            disabled="@(!Enabled)"
            ChooseItemOnBlur="true"
            LazyLoad="true"
            AllowCustomValues="false">
    <NoResultsView>
        @if (MinTime == null && MaxTime == null)
        {
            <span>Please enter a time@(GetIntervalDisplay()).</span>
        }
        else
        {
            if (MinTime == null && MaxTime != null)
            {
                <span>Please enter a time before @MaxTime.Value.ToString("h:mm tt")@(GetIntervalDisplay()).</span>
            }
            else if (MinTime != null && MaxTime == null)
            {
                <span>Please enter a time after @MinTime.Value.ToString("h:mm tt")@(GetIntervalDisplay()).</span>
            }
            else if (MinTime != null && MaxTime != null)
            {
                <span>Please enter a time between @MinTime.Value.ToString("h:mm tt") and @MaxTime.Value.ToString("h:mm tt")@(GetIntervalDisplay()).</span>
            }
        }
    </NoResultsView>
    <NoInputView>
        Type a time
    </NoInputView>
</QuickAutocomplete>

@code {
    List<TimeInputItem> Times = new List<TimeInputItem>();

    /// <summary>
    /// The <see cref="TimeSpan"/> between available times. Defaults to 1 minute.
    /// </summary>
    [Parameter] public TimeSpan Interval { get; set; } = TimeSpan.FromMinutes(1);

    [Parameter] public string Placeholder { get; set; } = "Enter a time";

    /// <summary>
    /// The minimum time allowed in the picker.
    /// </summary>
    [Parameter] public DateTime? MinTime { get; set; }

    /// <summary>
    /// The maximum time allowed in the picker.
    /// </summary>
    [Parameter] public DateTime? MaxTime { get; set; }

    /// <summary>
    /// The selected value in the picker.
    /// </summary>
    [Parameter] public DateTime? Value { get; set; }

    private TimeInputItem? PickerValue => GetPickerValue();

    /// <summary>
    /// Fires when the selected time changes.
    /// </summary>
    [Parameter] public EventCallback<DateTime?> ValueChanged { get; set; }

    /// <summary>
    /// When true, the underlying input is enabled. Defaults to true.
    /// </summary>
    [Parameter] public bool Enabled { get; set; } = true;

    protected override Task OnParametersSetAsync()
    {
        PopulateAvailableTimes();
        return Task.CompletedTask;
    }

    async Task OnValueChange(TimeInputItem? item)
    {
        Value = item?.Value;

        if (ValueChanged.HasDelegate)
        {
            await ValueChanged.InvokeAsync(Value);
        }
    }

    TimeInputItem? GetPickerValue()
    {
        if (Value != null && Times.Any())
        {
            var item = Times.FirstOrDefault(t =>
                t.Value.Hour == Value?.Hour &&
                t.Value.Minute == Value?.Minute);

            return item;
        }

        return null;
    }

    void PopulateAvailableTimes()
    {
        if(Interval.Minutes == 1 && MinTime == null && MaxTime == null)
        {
            Times = AllTimes;
            return;
        }

        Times = AllTimes
            .Where(t => t.Value.Minute % Interval.Minutes == 0
                && t.Value >= (MinTime ?? DateTime.MinValue)
                && t.Value <= (MaxTime ?? DateTime.MaxValue)).ToList();
    }

    string? FilterInputValue(string? value)
    {
        if (value == null)
        {
            return null;
        }

        if (value.Length == 1 && char.IsDigit(value[0]))
        {
            return $"{value}:00";
        }

        // If we're in a certain range, we want to give special priority for things like 10p 11p 12p so they don't default to 1:0p
        if ((value.StartsWith("10") || value.StartsWith("11") || value.StartsWith("12")) && (value.Length > 2 && value.Length < 6))
        {
            if (value[2] == ':')
            {
                return value;
            }

            // 10p
            // 10 p
            //   ^
            if (!char.IsDigit(value[2]))
            {
                return value.Insert(2, ":");
            }
        }

        // What are we doing? Issue brought up by Gwen:
        // When a user enters 1:25 AM and backs out to do 1:250
        // we want to be nice to the user and ignore the : in this instance
        // so they can match to 12:50
        if (value?.IndexOf(':') == 1 && value?.Length > 4)
        {
            var regex = new System.Text.RegularExpressions.Regex(@"\d:\d\d\d");

            if (regex.IsMatch(value))
            {
                return value.Replace(":", "");
            }
        }

        return value;
    }

    public class TimeInputItem
    {
        public DateTime Value { get; set; }
        public string Display { get; set; } = null!;
        public string TwentyFourHourFormattedString { get; set; } = null!;

        public override string ToString() => Display;
    }

    public static List<TimeInputItem> AllTimes = PopulateAllTimes();

    private static List<TimeInputItem> PopulateAllTimes(string defaultFormat = "h:mm tt", string defaultTwentyFourFormat = "HH:mm tt")
    {
        var interval = TimeSpan.FromMinutes(1);
        var baseTime = DateTime.MinValue;

        var startTime = new DateTime(baseTime.Year, baseTime.Month, baseTime.Day, 0, 0, 0);

        var endTime = baseTime.AddDays(1);

        var workingTime = startTime;

        // We're starting at midnight, so move ahead one interval
        workingTime += interval;

        var times = new List<TimeInputItem>();

        while (workingTime <= endTime)
        {
            times.Add(new TimeInputItem
            {
                Value = workingTime,
                Display = workingTime.ToString(defaultFormat),
                TwentyFourHourFormattedString = workingTime.ToString(defaultTwentyFourFormat)
            });

            workingTime += interval;
        }

        return times;
    }

    private string GetIntervalDisplay()
    {
        if (Interval.Minutes > 1)
        {
            return $" in {Interval.Minutes} minute intervals";
        }

        return "";
    }
}
